
{% load static %}
{% load chat_tags %}

{% if is_view %}
	{% get_headers %}
{% endif %}

	<div class="menu" data="{{ recipient.id }}" id="chat-menu-{{ recipient.id }}">
	        <div class="name">{{ recipient.username }}</div>
	        <div class="last">{% if recipient.chatprofile.online %}online{% else %}offline{% endif %}</div>
        <button class="chat-menu wave sharp transparent button" data="{{ recipient.id }}" id="chat-menu-{{ recipient.id }}" style="padding:0px;width: 10%;font-size: 4vh;height: 100%;color: white;margin-left: 90%;" ><img style="height: 100%;max-width:100%;overflow: hidden;align-self: center;" src="{% static 'img/menu.png' %}"></button>
    </div>
    <ol class="chat scroll" id="chat-{{ recipient.id }}">
    	{% if last_id == -1 %}
    	{% else %}
    		<button class="wave sharp transparent button load-more" style="width: 100%;color: grey;" action="{% url 'load_more' recipient.id %}" id="load-more-{{ recipient.id }}" data-id={{ last_id }}>Load more</button>
    	{% endif %}
    	{% for message in messages %}
    		{% get_message message request.user %}
    	{% endfor %}
    </ol>
    <form class = "message-form message-form-{{ recipient.id }}" style="background-color: #f1f0f1;" data="{{ recipient.id }}" id="message-form" action="{% url 'send_message' %}" enctype="multipart/form-data">
    	<div style="display: none;">
    		{{ form.as_p }}
    	</div>
	    <div class="chat-input-div">
	    	<textarea class="chat-input scroll" data="{{ recipient.id }}" id="chat-input-{{ recipient.id }}" rows=1 name="message" type="text" placeholder="Type a message...."></textarea>
	    	<input class="chat-file-input" data="{{ recipient.id }}" id="file-input-{{ recipient.id }}" style="display: none;" type="file" name="attachments" multiple>
	    	<input class="chat-image-input" data="{{ recipient.id }}" id="image-input-{{ recipient.id }}" style="display: none;" type="file" name="images" multiple>
	    	<button style="padding:0px;background-color: #f1f0f1;" type="submit" class="send button transparent filled wave sharp"><img style="height: 100%;max-width:100%;z-index: 10;" src="{% static 'img/chat_send.png' %}"></button> 
		</div>
	    <div class="chat-input-div">
	    	<button type="button" id="emoji" data="{{ recipient.id }}" class="chat-emoji-btn tri-button button transparent wave sharp" style="padding:0px;background-color: #f1f0f1;float: left;"><img style="height: 90%;" src="{% static 'img/emoji.png' %}"></button> 
	    	<button type="button" id="image-input-button" style="padding:0px;margin:0px;background-color: #f1f0f1;" data="{{ recipient.id }}" class="chat-image-btn tri-button button transparent wave sharp"><img style="height: 90%;" src="{% static 'img/chat_image.png' %}"><p style="float:right;display: none;margin-right: 10%;" id="img-count-{{recipient.id}}"></p></button> 
	    	<button type="button" id="file-input-button" data="{{ recipient.id }}" class="chat-file-btn tri-button button transparent wave sharp" style="background-color: #f1f0f1;padding:0px;float: right;"><img style="height: 90%;" src="{% static 'img/chat_file.png' %}"><p style="float:right;display: none;margin-right: 10%;" id="file-count-{{ recipient.id }}"></p></button> 
	    </div>
    </form>

{% if is_view %}
	{% get_footers %}
{% endif %}
