
{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/vayu.css' %}">
	<style type="text/css">
		html, body{
			height: 100%;
		}

		.scroll::-webkit-scrollbar {
 	 		width: 4px;
			background: rgba(0, 0, 0, .0);
		}
		
		.scroll::-webkit-scrollbar-thumb {
  			background-color: rgba(0, 0, 0, .6);
		}
	</style>

	{% load chat_tags %}

	<div class="menu" data="{{ recipient.id }}" id="chat-menu-{{ recipient.id }}">
	        <div class="name">{{ recipient.username }}</div>
	        <div class="last">{% if recipient.chatprofile.online %}online{% else %}offline{% endif %}</div>
        <button class="chat-menu wave sharp transparent button" data="{{ recipient.id }}" id="chat-menu-{{ recipient.id }}" style="padding:0px;width: 10%;font-size: 4vh;height: 100%;color: white;margin-left: 90%;" ><img style="height: 100%;max-width:100%;overflow: hidden;align-self: center;" src="{% static 'img/menu.png' %}"></button>
    </div>
    <ol class="chat scroll" id="chat-{{ recipient.id }}">
    	{% if last_id == -1 %}
    	{% else %}
    		<button class="wave sharp transparent button load-more" style="width: 100%;color: grey;" action="{% url 'load_more' recipient.id %}" id="load-more-{{ recipient.id }}" data-id={{ last_id }}>Load more</button>
    	{% endif %}
    	{% for message in messages %}
    		{% get_message message request.user %}
    	{% endfor %}
    </ol>
    <form class = "message-form message-form-{{ recipient.id }}" style="background-color: #f1f0f1;" data="{{ recipient.id }}" id="message-form" action="{% url 'send_message' %}" enctype="multipart/form-data">
    	<div style="display: none;">
    		{{ form.as_p }}
    	</div>
	    <div class="chat-input-div">
	    	<textarea class="chat-input scroll" data="{{ recipient.id }}" id="chat-input-{{ recipient.id }}" rows=1 name="message" type="text" placeholder="Type a message...."></textarea>
	    	<input class="chat-file-input" data="{{ recipient.id }}" id="file-input-{{ recipient.id }}" style="display: none;" type="file" name="attachments" multiple>
	    	<input class="chat-image-input" data="{{ recipient.id }}" id="image-input-{{ recipient.id }}" style="display: none;" type="file" name="images" multiple>
	    	<button style="padding:0px;background-color: #f1f0f1;" type="submit" class="send button transparent filled wave sharp"><img style="height: 100%;max-width:100%;z-index: 10;" src="{% static 'img/chat_send.png' %}"></button> 
		</div>
	    <div class="chat-input-div">
	    	<button type="button" id="emoji" data="{{ recipient.id }}" class="chat-emoji-btn tri-button button transparent wave sharp" style="padding:0px;background-color: #f1f0f1;float: left;"><img style="height: 90%;" src="{% static 'img/emoji.png' %}"></button> 
	    	<button type="button" id="image-input-button" style="padding:0px;margin:0px;background-color: #f1f0f1;" data="{{ recipient.id }}" class="chat-image-btn tri-button button transparent wave sharp"><img style="height: 90%;" src="{% static 'img/chat_image.png' %}"><p style="float:right;display: none;margin-right: 10%;" id="img-count-{{recipient.id}}"></p></button> 
	    	<button type="button" id="file-input-button" data="{{ recipient.id }}" class="chat-file-btn tri-button button transparent wave sharp" style="background-color: #f1f0f1;padding:0px;float: right;"><img style="height: 90%;" src="{% static 'img/chat_file.png' %}"><p style="float:right;display: none;margin-right: 10%;" id="file-count-{{ recipient.id }}"></p></button> 
	    </div>
    </form>
</div>





<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vayu.js' %}"></script>
<script type="text/javascript">

	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}

	$.ajaxSetup({
	    beforeSend: function(xhr, settings) {
	        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
	            // Only send the token to relative URLs i.e. locally.
	            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	        }
	    }
	});


	socket = new WebSocket("ws://"+window.location.host+"/chat/")
	socket.onmessage = function(event){
		var data = JSON.parse(event.data);
		var chatdiv = $('#chat-'+data.id);
		// console.log(data);
		chatdiv.append(data.html);
		document.getElementById('message-'+data.message_id).scrollIntoView();
		// chatdiv.append("<li class='self'><div class='msg'><p>"+data.message+"</p><time>"+Date.now()+"</time></div></li>");
	}
	$('.message-form').submit(function(event){
		event.preventDefault();
		var form = new FormData(this);
		var id = $(this).attr("data");
		var url = $(this).attr('action');
		var text = $("#chat-input-"+id).val();
		// console.log($("input[name='csrfmiddlewaretoken']").attr('value'));
		if($.trim(text).length != 0 || $('#file-input-'+id).val()!="" || $('#image-input-'+id).val()!="" ){
			$.ajax({
				type: "POST",
				url: url,
				data: form,
		        success: function (data) {
					$("#chat-input-"+id).val("");
					$('#file-input-'+id).val("");
					$('#image-input-'+id).val("");
					$("#img-count-"+id).html("");
					$("#img-count-"+id).hide();
					$("#file-count-"+id).html("");
					$("#file-count-"+id).hide();
		        },
		        error: function (data) {
		            alert("error"+data)
		        },
		        cache: false,
		        contentType: false,
		        processData: false,
			});
			// $.post(url, form, function(data){alert(data);});
		}
	});

	$(".chat-menu").click(function(e){
		e.preventDefault();
	});

	$('.menu').click(function(e){
		var id = $(this).attr("data");
		$("#chat-"+id).slideToggle();
		$(".message-form-"+id).slideToggle();
	});

	$('.chat-file-btn').click(function(e){
		var id = $(this).attr("data");
		$('#file-input-'+id).trigger("click");
	});

	$('.chat-image-btn').click(function(e){
		var id = $(this).attr("data");
		$('#image-input-'+id).trigger("click");
	});

	$('.chat-input').keyup(function (event) {
		var id = $(this).attr('data');
    	if (event.keyCode == 13 & !event.shiftKey) {          
            $('.message-form-'+id).submit();
    	}
	});

	var ValidImageTypes = ["image/gif", "image/jpeg", "image/png"];

	$('.chat-image-input').change(function(e){
		var id = $(this).attr('data');
		var boolsize = true, booltype = true;
		for(i=0; i < e.target.files.length; i++){
			var fl = e.target.files[i];
			if ((fl.size/(1024*1024)) > 10)
				boolsize = false;

			if($.inArray(fl["type"], ValidImageTypes) < 0)
				booltype = false
		}
		if(!boolsize)
		{
			image.val("");
			alert("Upload image size should be below 10 Mb");
		}
		else if(!booltype)
		{
			image.val("");
			alert("Uploaded image should be among "+ValidImageTypes);
		}
		if(e.target.files.length>0)
		{
			$("#img-count-"+id).show();
			$("#img-count-"+id).html(e.target.files.length);
		}
		else
			$("#img-count-"+id).hide();
	});

	$('.chat-file-input').change(function(e){
		var boolsize = true;
		var id = $(this).attr('data');
		for(i=0; i < e.target.files.length; i++){
			var fl = e.target.files[i];
			if ((fl.size/(1024*1024)) > 25)
				boolsize = false;
		}
		if(!boolsize)
		{
			file.val("");
			alert("Upload file size should be below 25 Mb");
		}
		if(e.target.files.length>0)
		{
			$("#file-count-"+id).show();
			$("#file-count-"+id).html(e.target.files.length);
		}
		else
			$("#file-count-"+id).hide();
	});

	$(document).ready(function(event){
		$(".chat").animate({ scrollTop: 9999 }, 1000);
	});

	$(".load-more").click(function(e){
		var loadbtn = $(this);
		var data_id = $(this).attr('data-id');
		var url = $(this).attr('action');
		$.ajax({
			type: "POST",
			url: url,
			data: {"message_id":data_id},
			success: function (data) {
				var dat = JSON.parse(data);
					if(dat.success==true)
					{
						loadbtn.after(dat.html);
						document.getElementById('message-'+data_id).scrollIntoView();
						if(dat.last_id==-1){
							loadbtn.remove();
						}
						else{
							loadbtn.attr("data-id",dat.last_id);
						}
					}
					else{
						console.log(dat.html);
					}
		        },
		        error: function (data) {
		            console.log("error"+data)
		        },

		});
	});
</script>