<div id="chat" class="chat-div user">
	
</div>
<form class="ui form" action="/chat/" id="message-form" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type="text" id="chat-input" name="message">
	<input type="file" name="new-file">
	<button id="chat-submit">send</button>
</form>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<script type="text/javascript">
	socket = new WebSocket("ws://"+window.location.host)
	socket.onmessage = function(event){
		var chatdiv = $('#chat');
		var data = JSON.parse(event.data);
		chatdiv.append("<br>"+data.message);
	}
	$('#message-form').submit(function(event){
		event.preventDefault();
		var form = $('#message-form');
		var message = form.serialize();
		if(message != ""){
			socket.send(message.);
			$('#chat-input').val("");
		}
	});
</script>